@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    background: #736373;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    width: 200px;
    height: 60px;
    background: none;
    border: 2px solid #33d9b2;
    color: #33d9b2;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
}